Goals for this code
1. Take a look at the fields in the Ford and Lyft data
2. Determine what fields are useful to me
3. Determine how to combine them, since both datasets have some different field and field names

BONUS: Make sure my S3 AWS bucket can be accessed by anyone and provide instructions on access credentials so they can easily download it

BONUS 2: Complete in google collabs so easier for anyone to pickup and run code

In [3]:
#I will utilize some code from my past web scraping project and tweak it for this project.
#I will use selenium since that is what I have used in the past and is what I am familiar with

#This currently looks up certain fields for you and enters them into the website. 
#Next would be to automate this to run through all 4 designations I want. Do that at end. Also make cleaner later.
import requests
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import re
import pandas as pd
from tabulate import tabulate
import os
import math
import regex as re 
from selenium.webdriver.support.ui import Select

from zipfile import ZipFile
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from decimal import Decimal
import numpy as np
import pandas as pd
import math
import os
import io

from datetime import datetime
from datetime import date
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
from sklearn.metrics import r2_score
import boto3

In [7]:
#pull data from S3 and store in aws_data folder
#we already have a copy locally but for other users who don't this code will be helpful


import boto3

# Create an S3 access object
s3 = boto3.client("s3")

s3.download_file(
    Bucket="baywheels.data", Key="ford_data.csv", Filename="aws_data/ford_data_download.csv"
)

s3.download_file(
    Bucket="baywheels.data", Key="lyft_data.csv", Filename="aws_data/lyft_data_download.csv"
)

In [4]:
#Let us start by taking a look at the ford data
df_ford = pd.read_csv('aws_data/ford_data_download.csv')
df_lyft = pd.read_csv('aws_data/lyft_data_download.csv')

C:\Users\gadde\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\gadde\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2,3,4,8,13,14,15,16,17,18,19,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
#Looking at the data types there are a lot of objects that we should change into actual data types
print('ford dataset data types: ')
print(df_ford.dtypes)
print('\nlyft dataset data types: ')
print(df_lyft.dtypes)

ford dataset data types:
Unnamed: 0                   int64
duration_sec                 int64
start_time                  object
end_time                    object
start_station_id           float64
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             float64
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bike_id                      int64
user_type                   object
bike_share_for_all_trip     object
dtype: object

lyft dataset data types:
Unnamed: 0                   int64
duration_sec               float64
start_time                  object
end_time                    object
start_station_id            object
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id              object
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bike_id                    float64
user_type                   object
bike_share_for_all_trip     object
rental_access_method        object
ride_id                     object
rideable_type               object
started_at                  object
ended_at                    object
start_lat                  float64
start_lng                  float64
end_lat                    float64
end_lng                    float64
member_casual               object
dtype: object

I have decided to include the following fields in my first-run analysis
1. duration_sec
2. start_time /  started_at                
3. end_time / ended_at
4. user_type / member_casual
5. bike_share_for_all_trip

Reasons for choice
1. Want fields present in both datasets to have longest running data possible
2. Want to limit analysis really to duration and time of day - which is why station info was excluded

Note we may choose to include more fields in a later analysis

In [6]:
#select only columns of interest
col_ford = ['start_time','end_time','user_type','bike_share_for_all_trip']
df_ford_trim = pd.DataFrame()
df_ford_trim = df_ford[col_ford]

col_lyft = ['start_time','started_at','end_time','ended_at','user_type', 'member_casual','bike_share_for_all_trip']
df_lyft_trim = pd.DataFrame()
df_lyft_trim = df_lyft[col_lyft]

In [7]:
#Combine the time columns for the lyft data. Let us use fillna
df_lyft_trim['start_time'] = df_lyft_trim['start_time'].fillna(df_lyft_trim['started_at'])
df_lyft_trim['end_time'] = df_lyft_trim['end_time'].fillna(df_lyft_trim['ended_at'])
df_lyft_trim['user_type'] = df_lyft_trim['user_type'].fillna(df_lyft_trim['member_casual'])

#now drop the alternate named columns since combined
df_lyft_trim = df_lyft_trim.drop(['started_at', 'ended_at', 'member_casual'], axis=1)

C:\Users\gadde\AppData\Local\Temp/ipykernel_11616/782311638.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lyft_trim['start_time'] = df_lyft_trim['start_time'].fillna(df_lyft_trim['started_at'])
C:\Users\gadde\AppData\Local\Temp/ipykernel_11616/782311638.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lyft_trim['end_time'] = df_lyft_trim['end_time'].fillna(df_lyft_trim['ended_at'])
C:\Users\gadde\AppData\Local\Temp/ipykernel_11616/782311638.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lyft_trim['user_type'] = df_lyft_trim['user_type'].fillna(df_lyft_trim['member_casual'])

In [8]:
df_ford_trim.tail()

,start_time,end_time,user_type,bike_share_for_all_trip
3254320,2019-04-01 00:09:17.5660,2019-04-01 00:12:22.5170,Subscriber,No
3254321,2019-04-01 00:03:02.5730,2019-04-01 00:12:02.0670,Subscriber,Yes
3254322,2019-04-01 00:06:04.2370,2019-04-01 00:10:56.9850,Subscriber,Yes
3254323,2019-04-01 00:01:38.4110,2019-04-01 00:09:29.9650,Subscriber,Yes
3254324,2019-04-01 00:00:28.7290,2019-04-01 00:06:25.0650,Subscriber,No

In [9]:
#Change column data types from object to more reasonable values
df_ford_trim['start_time'] = pd.to_datetime(df_ford_trim['start_time'])
df_ford_trim['end_time'] = pd.to_datetime(df_ford_trim['end_time'])
df_lyft_trim['start_time'] = pd.to_datetime(df_lyft_trim['start_time'])
df_lyft_trim['end_time'] = pd.to_datetime(df_lyft_trim['end_time'])

C:\Users\gadde\AppData\Local\Temp/ipykernel_11616/2406727157.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ford_trim['start_time'] = pd.to_datetime(df_ford_trim['start_time'])
C:\Users\gadde\AppData\Local\Temp/ipykernel_11616/2406727157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ford_trim['end_time'] = pd.to_datetime(df_ford_trim['end_time'])

In [10]:
#union the 2 df
df = pd.concat([df_ford_trim, df_lyft_trim])

In [11]:
#Want to combine different user types so only 2 different user_types left
df.user_type.unique()
df.replace('Customer','casual', inplace= True)
df.replace('Subscriber','member', inplace= True)

In [14]:
df

,start_time,end_time,user_type,bike_share_for_all_trip
0,2017-12-31 16:57:39.654,2018-01-01 15:12:50.245,casual,NaN
1,2017-12-31 15:56:34.842,2018-01-01 13:49:55.617,casual,NaN
2,2017-12-31 22:45:48.411,2018-01-01 11:28:36.883,casual,NaN
3,2017-12-31 17:31:10.636,2018-01-01 10:47:23.531,casual,NaN
4,2017-12-31 14:23:14.001,2018-01-01 02:29:57.571,member,NaN
...,...,...,...,...
6564180,2022-04-16 13:42:04.000,2022-04-16 14:17:45.000,member,NaN
6564181,2022-04-26 19:14:56.000,2022-04-26 19:19:09.000,member,NaN
6564182,2022-04-13 18:49:24.000,2022-04-13 19:02:47.000,casual,NaN
6564183,2022-04-01 17:32:58.000,2022-04-01 17:34:27.000,member,NaN
6564184,2022-04-18 17:41:45.000,2022-04-18 18:05:45.000,casual,NaN

In [20]:
#Let us see if any start_time before any end_time (e.g. negative duration) because that would mean that data point is bad.
df[df['start_time']>df['end_time']]
#As you can see, we have 515 rows of this data, so let us drop this data since a very small amount and most likely bad data
df.drop(df[df['start_time']>df['end_time']].index, inplace = True)

In [21]:
#Let us also see if any data points with durations above 24 hours since I would assume those are outliers as well.
df[(df['end_time'] - df['start_time']).dt.total_seconds()/3600 >24] 
#Note there are significantly more rows here but still a negligible amount compared to our total 10M rows. So lets drop them
df.drop(df[df['start_time']>df['end_time']].index, inplace = True)

In [ ]:
#Push the finalized clean combined dataset to an AWS S3 storage space

df.to_csv(r'baywheels_data\final_data.csv')

s3 = boto3.client("s3")

s3.upload_file(
    Filename=r'baywheels_data\final_data.csv',
    Bucket="baywheels.data",
    Key="final_data.csv",
)